*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../Image/raffles+dubai.webp");
    background-size: cover;      /* makes image cover full page */
    background-repeat: no-repeat; /* prevents repeating */
    background-position: center;  /* centers the image */
     height:100vh;
}
.container{
    width: 100%;
    min-height: 500px;

}
.header {
    height: 80px;
    width: 100%;
    position: relative;
    position: sticky;
    top: 0;
    z-index: -1;

}

.header .logo{
    position: absolute;
    left: 55%;
    width: 30%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header .logo img{
    width: 350px;
    height: 300px;
    
}

.header .menu{
    position:absolute;
    right: 20px;
    top: 0;

}
.header .menu1{
    position: absolute;
    left: 0;
    top: 0;

}
.header .menu ul{
    list-style: none;
}

.header .menu ul li{
    display: inline-block;
    line-height: 80px; 
    
}

.menu ul li a{
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    color: #4B2C3A;
    font-size: large;

}

 .menu ul li a:hover{
    color: #E7D3A3;
    background-color:#4B2C3A ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.header .menu1 ul{
    list-style: none;
}

.header .menu1 ul li{
    display: inline-block;
    line-height: 80px; 
    
}

.menu1 ul li a{
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    color: #4B2C3A;
    font-size: large;

}

 .menu1 ul li a:hover{
    color: #E7D3A3;
    background-color:#4B2C3A ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mission{
    position:absolute;
    bottom:40px;
    left:40px;
    width:700px;
    color:white;
    background:rgba(0,0,0,0.4);
    padding:20px;
    border-radius:5px;
}

.mission h1{
    font-size:48px;
    margin:10px 0;
}

.mission .small{
    font-size:20px;
}

.mission .desc{
    font-size:18px;
}

.hotels{
    width:100%;
    min-height:300px;
    padding: 10PX;
    /* background-color:#4B2C3A; */
    /* border: 5px solid #000; */
    margin-top:103vh;
    position: relative;
}
.hotels h1{
    color: black;
}


.hotels .destinations{
    position: static;
    left: 0;
    top: 5%;

}
.hotels .destinations ul{
    list-style: none;
}

.hotels .destinations ul li{
    display: inline-block;
    line-height: 80px; 
    
}

.destinations ul li a{
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    color: #4B2C3A;
    font-size: large;

}

 .destinations ul li a:hover{
    color: #E7D3A3;
    background-color:#4B2C3A ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Cards Layout */
.cards {
    display: flex;
    gap: 30px;
    /* position: absolute; */
    margin-top: auto;
}

/* Card Styling */
.card {
    background: #fff;
}

.card img {
    width: 100%;
    
    border-radius: 5px;
}
.hotels .card.large img{
    height: 400px;
}

/* Large card (left side) */
.card.large {
    flex: 2;
}

/* Small card (right side) */
.card.small {
    flex: 1;
}

.card h3 {
    margin-top: 15px;
    font-size: 18px;
}

.card p {
    color: #666;
    font-size: 14px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: orange;
    text-decoration: none;
    font-weight: bold;
}